div.history_card {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0px 210px;
    margin: 50px 5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
    overflow:scroll;
}

div.history_card:hover {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0px 210px;
    margin: 50px 5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
}

div.astronauts_card {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0px 210px;
    margin: 50px 5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
    overflow:scroll;
}

div.baner_card {
    margin: 50px 5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
    overflow:scroll;
}

div.history_card_description {
    /*потерянный стиль*/
}

hr {
    display: block;
    height: 5px;
    margin: 1em 0;
    padding: 0 0;
    border: 0;
    border-top: 5px solid;
}

a.card_anchor{
    position: relative;
    width: 0px;
    height: 0px;
    display: block;
    top: -15vh;
}

button.card_sourse {
    padding: 0 20px;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    outline-width: 0;
    position: fixed;
    background-color: oklch(
        from currentColor l c h / calc(alpha - 0.5)
        );
}