.purpule {
    color: #d7d0e0;
    background-color: #6c458f;
    outline-color: #54377a;
    border-color: #54377a;
}

/*раньше был жёлтым, сейчас синий*/
.yellow {
    background-color: #5e63b6;
    outline-color: #5951aa;
    border-color: #5951aa;
    color: #dee0ff;
}

.transperent_yellow {
    color: #352f68;
    background-color: #0d072982;
}

.green {
    color: #ddf3e1;
    background-color: #5da36b;
    outline-color: #347a4f;
    border-color: #347a4f;
}

#icon.purpule:hover {
    background-color: #724d9a;
}

#icon.yellow:hover {
    background-color: #6271b8;
}

#icon.green:hover {
    background-color: #63a969;
}