.purpule {
    color: #d7d0e0;
    background-color: #6c458f;
    outline-color: #54377a;
    border-color: #54377a;
}

.yellow {
    background-color: #5e63b6;
    outline-color: #5951aa;
    border-color: #5951aa;
    color: #dee0ff;
}

.green {
    color: #ddf3e1;
    background-color: #5da36b;
    outline-color: #347a4f;
    border-color: #347a4f;
}

svg {
    --color_icon: #5951aa;
}