.purpule {
    color: #d7d0e0;
    background-color: #6c458f;
    outline-color: #54377a;
    border-color: #54377a;
}

.yellow {
    color: #362d15;
    background-color: #dabc6b;
    border-color: rgb(104, 72, 33);
    outline-color: rgb(235, 162, 71);
}

.green {
    color: #ddf3e1;
    background-color: #5da36b;
    outline-color: #347a4f;
    border-color: #347a4f;
}