.bottom_ {
    background-color: white;
    outline-color: rgb(0, 0, 0);
    outline-width: 5px;
    outline-style:solid;
    width: 100%; height: 10%;
    position:fixed;
    bottom: 0px;
    margin:-10px;
}

.history_card {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    background-color:rgb(255, 241, 90);
    outline-width: 5px;
    outline-style: double;
    outline-color: rgb(235, 162, 71);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.future_card {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    background-color:rgb(58, 138, 195);
    outline-width: 5px;
    outline-style: double;
    outline-color: rgb(26, 26, 106);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.additional_card {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    background-color:rgb(74, 196, 52);
    outline-width: 5px;
    outline-style: double;
    outline-color: rgb(8, 102, 36);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.history_card_description {
    margin-left: 10px;
    margin-right: 35%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(235, 162, 71);
    margin: 1em 0;
    padding: 0 0;
}

hr.additional {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(35, 112, 58);
    margin: 1em 0;
    padding: 0 0;
}

hr.future {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(26, 26, 106);
    margin: 1em 0;
    padding: 0 0;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: rgb(235, 162, 71);
    background-color: rgb(255, 241, 90);
    text-decoration: none;
    text-align: center;
}

button.button {
    color: rgb(235, 162, 71);
    background-color: rgb(255, 241, 90);
    width: 100%;
    height: 100%;
    border-color: rgb(235, 162, 71);
}

body.main_page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr;
    width: 1fr;
    height: 1000px;
    overflow: hidden;
    background-color: rgb(220, 238, 255);
}

div.main_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: beige;
    width: 100%;
    height: 100%;
}