body.index {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.4fr 1.2fr 2fr 0.8fr;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0; 
    background-image: url("/resources/bg.svg");
    background-size: 256px 128px;
}

body.history {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #1c1c1c; 
    background-image: url("/resources/bg.svg");
    background-size: 256px 128px;
}

body.astronauts {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #1c1c1c; 
    background-image: url("/resources/bg-yellow.svg");
    background-size: 256px 128px;
}

body.future {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #1c1c1c; 
    background-image: url("/resources/bg-yellow.svg");
    background-size: 256px 128px;
}

body.staged_rocket {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #1c1c1c; 
    background-image: url("/resources/bg-green.svg");
    background-size: 256px 128px;
}

div.header {
    overflow: inherit;
    position: fixed; 
    height: 10vh; 
    width: 100vw; 
    border-bottom-width: 1vh;
    border-bottom-style: solid;
}

div.idex_buttons_groop {
    display: grid; 
    grid-column: 2; 
    grid-row: 3; 
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr; 
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr; 
    height: 100%; 
    width: 100%; 
    padding: 1%;
    background-color: rgba(0, 255, 255, 0); 
}

button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

button:hover {
    width: 108%;
    height: 108%;
    border-radius: 15px;
    margin-top: -4%;
    margin-left: -4%;
}

button.sp_button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

button.sp_button:hover {
    width: 108%;
    height: 108%;
    border-radius: 15px;
    margin-top: 0;
    margin-left: 0;
}

.purpule {
    color: #d7d0e0;
    background-color: #6c458f;
    outline-color: #54377a;
    border-color: #54377a;
}

.yellow {
    color: #362d15;
    background-color: #dabc6b;
    border-color: rgb(104, 72, 33);
    outline-color: rgb(235, 162, 71);
}

.green {
    color: #bbddc2;
    background-color: #5da36b;
    outline-color: #347a4f;
    border-color: #347a4f;
}

div.history_card {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0px 210px;
    height: 210px;
    padding: 10px;
    margin: 50px 5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
}

div.history_card:hover {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 20px 210px;
    height: 240px;
    padding: 10px;
    margin: 50px 2.5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
}


hr {
    display: block;
    height: 5px;
    margin: 1em 0;
    padding: 0 0;
    border: 0;
    border-top: 5px solid;
}

img.icon {
    height:100%;
}