.bottom_ {
    background-color: white;
    outline-color: rgb(0, 0, 0);
    outline-width: 5px;
    outline-style:solid;
    width: 100%; height: 10%;
    position:fixed;
    bottom: 0px;
    margin:-10px;
}



.future_card {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    background-color:rgb(58, 138, 195);
    outline-width: 5px;
    outline-style: double;
    outline-color: rgb(26, 26, 106);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.additional_card {
    padding: 10px 10px 10px 0;
    margin: 50px 5% 0 5%;
    height: 200px;
    background-color:rgb(74, 196, 52);
    outline-width: 5px;
    outline-style: double;
    outline-color: rgb(8, 102, 36);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.history_card_description {
    margin-left: 10px;
    margin-right: 35%;
}

hr.additional {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(35, 112, 58);
    margin: 1em 0;
    padding: 0 0;
}

hr.future {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid rgb(26, 26, 106);
    margin: 1em 0;
    padding: 0 0;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: rgb(235, 162, 71);
    background-color: rgb(255, 241, 90);
    text-decoration: none;
    text-align: center;
}

button.button {
    color: rgb(235, 162, 71);
    background-color: rgb(255, 241, 90);
    width: 100%;
    height: 100%;
    border-color: rgb(235, 162, 71);
    border-radius: 20px;
}

button.history {
    color: #d7d0e0;
    background-color: #6c458f;
    border-color: #54377a;
}

button.mimi {
    color: #362d15;
    background-color: #dabc6b;
    border-color: #c4965e;
}

button.rocekt {
    color: #bbddc2;
    background-color: #5da36b;
    border-color: #347a4f;
}


body.main_page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr;
    width: 1fr;
    height: 1000px;
    overflow: hidden;
    background-color: rgb(220, 238, 255);
}

div.main_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: beige;
    width: 100%;
    height: 100%;
}





body.index {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.4fr 1.2fr 2fr 0.8fr;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0; 
    background-color: #1c1c1c;
}

body.history {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #1c1c1c;
}

body.future {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #1c1c1c;
}

body.future2 {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.4fr 1.2fr 2fr 0.8fr;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0; 
    background-color: #1c1c1c;
}

body.staged_rocket {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #1c1c1c;
}

div.header {
    overflow: inherit;
    position: fixed; 
    height: 10vh; 
    width: 100vw; 
    border-bottom-width: 1vh;
    border-bottom-style: solid;
}

div.idex_buttons_groop {
    display: grid; 
    grid-column: 2; 
    grid-row: 3; 
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr; 
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr; 
    height: 100%; 
    width: 100%; 
    padding: 1%;
    background-color: rgba(0, 255, 255, 0); 
}

button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

button:hover {
    width: 108%;
    height: 108%;
    border-radius: 15px;
    margin-top: -4%;
    margin-left: -4%;
}

button.sp_button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

button.sp_button:hover {
    width: 108%;
    height: 108%;
    border-radius: 15px;
    margin-top: 0;
    margin-left: 0;
}

.purpule {
    color: #d7d0e0;
    background-color: #6c458f;
    outline-color: #54377a;
    border-color: #54377a;
}

.yellow {
    color: #362d15;
    background-color: #dabc6b;
    border-color: rgb(104, 72, 33);
    outline-color: rgb(235, 162, 71);
}

.green {
    color: #bbddc2;
    background-color: #5da36b;
    outline-color: #347a4f;
    border-color: #347a4f;
}

div.history_card {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 0px 210px;
    height: 210px;
    padding: 10px;
    margin: 50px 5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
}

div.history_card:hover {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 20px 210px;
    height: 240px;
    padding: 10px;
    margin: 50px 2.5% 0;
    outline-width: 5px;
    outline-style: solid;
    border-radius: 2px;
}


hr {
    display: block;
    height: 5px;
    margin: 1em 0;
    padding: 0 0;
    border: 0;
    border-top: 5px solid;
}